.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Event {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Event img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.Event h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Event p {
  margin-bottom: 10px;
}

.Event button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Event button:hover {
  background-color: #0056b3;
}
