.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Event {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Event img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.Event h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Event p {
  margin-bottom: 10px;
}

.Event button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Event button:hover {
  background-color: #0056b3;
}

.Title {
  text-align: center;

}
.VillageSection,
.NinjaSection {
  margin-right: 20px; /* Add some margin between sections */
}

.VillageTitle,
.NinjaTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007bff; /* Change the title color for villages and ninjas */
}

.VillageTitle {
  border-bottom: 2px solid #007bff; /* Add a border for village section */
}

.NinjaTitle {
  border-bottom: 2px solid #ff4500; /* Add a different border for ninja section */
}

